name: Main

on:
  push:
    branches:
      - main

jobs:
  Validate:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Validate Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: adopt

      - name: Validate
        uses: gradle/gradle-build-action@v1
        with:
          arguments: checkLicenses --stacktrace
          gradle-version: current
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true

  Build:
    needs:
      - Validate
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Validate Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: adopt

      - name: Build
        uses: gradle/gradle-build-action@v1
        with:
          arguments: build --stacktrace
          gradle-version: current
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dev.pyrrha.dice
          path: |
            build/libs/*.jar
            !build/libs/**-dev.jar

  Test:
    needs:
      - Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Validate Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: adopt

      - name: Test
        uses: gradle/gradle-build-action@v1
        with:
          arguments: test --stacktrace
          gradle-version: current
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true